extends layout

block content
  div(style='height:403px' id='featured')
    div(class="container")
      for pict in imgs
        div(class="slide active")
          img(src='/images/pic/'+pict  width='500' height='335')
          div(class="description")
            h2=pict          
          div(class="additional")
            a(class="prevslide" href="#") Previous
            a(class="nextslide" href="#") Next
            a(class="featured-zoom fancybox" href='/images/pic/'+pict rel='featured') 放大
    div(id="slider-left-overlay")
    div(id="slider-right-overlay") 
  for img in imgs
    a(href='/images/pic/'+img title=img data-gallery target='_blank')
      img(src='/images/pic/'+img  class="img-thumbnail" style='width:140px;height:140px;margin:5px')